<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
      <div class="media">
          <img src="{{ site.baseurl }}/assets/img/logo.jpg" class="img-rounded" alt="ATTI Logo">

          <div class="media-body">
              <h1 class="display-4 text-white mt-5 mb-2">
                  Welcome to Assistance for Training Technologies & Ideas (ATTI)
              </h1>
              <p class="lead mb-5 text-white">
                  Our mission is to build capacity through training, research and education,
                  assist in equal distribution of resources in society, cleanliness of environment,
                  assist in wildlife conservation and management, assist in building a healthy nation.
              </p>
          </div>
      </div>


<!--    <div class="row h-100">-->
<!--      <div class="col-lg-12">-->
<!--        <img src="{{ site.baseurl }}/assets/img/logo.jpg" style="float:left;" class="img-rounded" alt="ATTI Logo">-->

<!--        <h1 class="display-4 text-white mt-5 mb-2">-->
<!--          Welcome to Assistance for Training Technologies & Ideas (ATTI)-->
<!--        </h1>-->
<!--        <p class="lead mb-5 text-white">-->
<!--          Our mission is to build capacity through training, research and education,-->
<!--          assist in equal distribution of resources in society, cleanliness of environment,-->
<!--          assist in wildlife conservation and management, assist in building a healthy nation.-->
<!--        </p>-->
<!--      </div>-->
    </div>
  </div>
</header>
